header{
    text-align:center;
    font-size: 36px;

}

header h1{
    font-size:64px;
}

img{
    width:100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.row{
    display:flex;
    justify-content: center;
    position: relative;
}

.item{
    background: steelblue;
    width:300px;
    height:300px;
    margin: 20px;
    border: 5px solid dimgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.playerInfo{
    text-align: center;
    font-size:36px;
}

